* {
  font-family: "Open Sans"; }

h1 {
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h3 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px; }

p {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

blockquote {
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px; }

pre {
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px; }

/**
 * @file
 * Various block styling.
 */
.call-to-action-buttons {
  padding: 30px 0; }
  .call-to-action-buttons a {
    width: 100%;
    text-align: center;
    line-height: 200%; }
  .call-to-action-buttons.asset__1 {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 5px #232323 solid; }
    .call-to-action-buttons.asset__1 a {
      color: #fff;
      background-color: #E34C4F; }

.tickets.asset__2 {
  background-color: #E34C4F; }
  .tickets.asset__2 .row {
    padding: 20px; }
    .tickets.asset__2 .row .col-md-6 div {
      background-color: rgba(37, 57, 118, 0.8);
      border-bottom: 5px solid #253976;
      padding: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      color: #fff; }
      .tickets.asset__2 .row .col-md-6 div h2, .tickets.asset__2 .row .col-md-6 div p {
        color: #fff;
        font-weight: bold; }
      .tickets.asset__2 .row .col-md-6 div a {
        color: #fff;
        background-color: rgba(37, 57, 118, 0.8); }

/**
 * @file
 * Button styles for entire site.
 * This contains mixins.
 */
nav.navbar-fixed-top {
  background-color: transparent;
  border: 0; }
  nav.navbar-fixed-top .inner {
    background-color: #fff;
    height: 53px; }
    nav.navbar-fixed-top .inner a.navbar-brand {
      width: 381px !important;
      height: 118px !important;
      background: url(../images/logo.png) no-repeat;
      background-size: 70%;
      float: left;
      overflow: hidden;
      text-indent: -999px; }

#hero {
  background: url("../images/front/hero.png") 0 0 no-repeat transparent;
  background-size: cover;
  height: 400px;
  position: relative; }
  #hero div {
    padding-top: 30px; }
    #hero div #event-date {
      background-color: #fff;
      padding: 20px;
      text-align: center; }
      #hero div #event-date h1 {
        font-size: 48px;
        color: #253976;
        font-weight: bold; }
      #hero div #event-date h2 {
        color: #E34C4F;
        font-weight: bold; }
