* {
  font-family: "Open Sans"; }

h1 {
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h3 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px; }

p {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

blockquote {
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px; }

pre {
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px; }

/**
 * @file
 * Various block styling.
 */
.call-to-action-buttons {
  padding: 30px 0; }
  .call-to-action-buttons a {
    width: 100%;
    text-align: center;
    line-height: 200%; }
  .call-to-action-buttons.asset__1 {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 5px #232323 solid; }
    .call-to-action-buttons.asset__1 a {
      color: #fff;
      background-color: #E34C4F; }
    .call-to-action-buttons.asset__1 a.btn, .call-to-action-buttons.asset__1 input[type='submit'].btn {
      border: 0;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px; }
      .call-to-action-buttons.asset__1 a.btn.btn-primary, .call-to-action-buttons.asset__1 input[type='submit'].btn.btn-primary {
        background-color: rgba(227, 76, 79, 0.8);
        color: #fff;
        border-bottom: 5px #E34C4F solid;
        font-size: 28px;
        font-weight: bold; }

.tickets.asset__2 {
  background-color: #E34C4F; }
  .tickets.asset__2 .row {
    padding: 20px; }
    .tickets.asset__2 .row .col-md-6 div {
      background-color: rgba(37, 57, 118, 0.8);
      border-bottom: 5px solid #253976;
      padding: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      color: #fff; }
      .tickets.asset__2 .row .col-md-6 div h2, .tickets.asset__2 .row .col-md-6 div p {
        font-weight: 800; }
      .tickets.asset__2 .row .col-md-6 div p {
        font-size: 25px; }
      .tickets.asset__2 .row .col-md-6 div h2, .tickets.asset__2 .row .col-md-6 div p {
        color: #fff;
        text-align: center; }
      .tickets.asset__2 .row .col-md-6 div a.btn {
        border: 0;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px; }
        .tickets.asset__2 .row .col-md-6 div a.btn.btn-secondary {
          background-color: rgba(227, 76, 79, 0.8);
          color: #fff;
          border-bottom: 5px #E34C4F solid;
          font-size: 28px;
          font-weight: bold;
          width: 100%; }

nav.navbar-fixed-top {
  background-color: transparent;
  border: 0; }
  nav.navbar-fixed-top .inner {
    background-color: #fff;
    box-shadow: 0px 21px 23px 0px rgba(0, 0, 0, 0.5);
    height: 53px; }
    nav.navbar-fixed-top .inner a.navbar-brand {
      width: 381px !important;
      height: 118px !important;
      background: url(../images/logo.png) no-repeat;
      background-size: 70%;
      float: left;
      overflow: hidden;
      text-indent: -999px; }
    nav.navbar-fixed-top .inner .container nav ul li.active {
      color: #fff; }
    nav.navbar-fixed-top .inner .container nav ul li a {
      color: #253976;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px; }
      nav.navbar-fixed-top .inner .container nav ul li a:is-active {
        color: #fff !important; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #E34C4F;
  color: #fff; }

#hero {
  background: url("../images/front/hero.png") 0 0 no-repeat transparent;
  background-size: cover;
  height: 400px;
  position: relative; }
  #hero div {
    padding-top: 30px; }
    #hero div #event-date {
      box-shadow: 0px 21px 23px 0px rgba(0, 0, 0, 0.5);
      background-color: #fff;
      padding: 20px;
      text-align: center; }
      #hero div #event-date h1 {
        font-size: 48px;
        color: #253976;
        font-weight: bold; }
      #hero div #event-date h2 {
        color: #E34C4F;
        font-weight: bold; }

#main-content {
  padding: 20px 0; }

footer {
  background-color: #253976;
  padding: 20px 0; }
  footer .container .row p {
    color: #fff; }
