/**
 * @file
 * Various block styling.
 */
.call-to-action-buttons {
  padding: 30px 0;
  a {
    width:100%;
    text-align: center;
    line-height:200%;
  }
  &.asset__1 {
    background-color: $asset_colour2;
    border-bottom: 5px #232323 solid;
    a {
      color: #fff;
      background-color: $asset_colour1;
    }
    @include button_primary(rgba($asset_colour1, 0.8), $asset_colour1, #fff);
  }
}

.tickets {
  &.asset__2 {
    background-color: $asset_colour1;
    .row {
      padding:20px;
      .col-md-6 {
        div {
          background-color: rgba($asset_colour3, 0.8);
          border-bottom: 5px solid $asset_colour3;
          padding: 20px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          color:#fff;
          h2, p {
            font-weight: 800;
          }
          p {
            font-size: 25px;
          }
          h2, p {
            color:#fff;
          }
          @include button_secondary($asset_colour1, $asset_colour1, #fff);
        }
      }
    }
  }
}
