#hero {
  background:url('../images/front/hero.png') 0 0 no-repeat transparent;
  background-size: cover;
  height:300px;
  position: relative;
  #event-date {
    background-color: #fff;
    float:left;
    display: block;
    padding:20px;
    position: absolute;
    top: 80px;
    left:40%;
    text-align: center;
    h2 {
      color: $asset_colour1;
    }
  }
}