nav  {
  &.navbar-fixed-top {
    background-color:transparent;
    border:0;
    .inner {
      a {
        &.navbar-brand {
          width: 381px!important;
          height: 118px!important;
          background: url(../images/logo.png) no-repeat;
          background-size: 70%;
          float: left;
          overflow: hidden;
          text-indent: -999px;
        }
      }
      background-color: #fff;
      box-shadow: 0px 21px 23px 0px rgba(0,0,0,0.50);
      height:53px;
      .container {
        nav {
          ul {
            li {
              &.active {
                color:#fff;
              }
              a {
                color: $asset_colour3;
                text-transform: uppercase;
                font-weight:bold;
                font-size:12px;
                &:is-active {
                  color:#fff!important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color:$asset_colour1;
  color:#fff;
}